



<h4 id = "top">Top Stories For You</h4>


<div id = ques>
	<div id = "alig">
		<div class="dummy">
	      <img class="tweetImage" src="https://pbs.twimg.com/profile_images/616147175987265536/EQm39fW7_bigger.png">
	    </div>
	    <div class="name">
	    	<%=current_user.email%>
	    </div>
	</div>
	<%= link_to "What is your question?" ,  url_for(controller: :home, action: :ask_question) %>
</div>

<div id = questions>
<ul>
<%@question.each do|q|%>
	<%=render 'question', :q=>q, :users=>@users%>    <!-- #question is here a partial file  -->
<%end%>

</ul>
</div>

